/* global margin and padding */

.layout {
  overflow-wrap: break-word;
  overflow: auto;
  width: 100%;
}

.layout > * {
  box-sizing: border-box;
  margin:  calc(var(--space-root) * var(--space-2));
  padding: calc(var(--space-root) * var(--space-2));
}

@media only screen and (min-width: 200px) {
  .layout > * {
    margin:  calc(var(--space-root) * var(--space-2));
    padding: calc(var(--space-root) * var(--space-2));
  }
}

@media only screen and (min-width: 400px) {
  .layout > * {
    margin:  calc(var(--space-root) * var(--space-2));
    padding: calc(var(--space-root) * var(--space-2));
  }

  .layout .article {
    width:   calc(var(--col-two-thirds) * var(--col-width));
    float: left;
  }

  .layout .aside {
    float: right;
    width:   calc(var(--col-third) * var(--col-width));
  }
}

@media only screen and (min-width: 600px) {
  .layout > * {
    margin:  calc(var(--space-root) * var(--space-2));
    padding: calc(var(--space-root) * var(--space-2));
  }

  .layout .footer {
    overflow: auto;
  }

  .footer .col {
    float: left;
    width: calc(var(--col-third) * var(--col-width));
  }
}

@media only screen and (min-width: 800px) {
  .layout > * {
    margin:  calc(var(--space-root) * var(--space-2));
    padding: calc(var(--space-root) * var(--space-2));
  }
}

@media only screen and (min-width: 1000px) {
  .layout > * {
    margin:  calc(var(--space-root) * var(--space-2));
    padding: calc(var(--space-root) * var(--space-2));
  }
}

@media only screen and (min-width: 1200px) {
  .layout > * {
    margin:  calc(var(--space-root) * var(--space-2));
    padding: calc(var(--space-root) * var(--space-2));
  }
}


.l-col {
  float: left;
  width: 48%;
}

.headline {
  background: var(--gray);
  padding: calc(var(--space-root) * var(--space-12));
}

.headline-font {
  color: white;
  font-weight: 100;
}
