.m-content {
  background: rgba(255,255,255,1);
  width: 100%;
  margin-left: 5%;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #aaa;
}

.m-content-pushed {
  margin-left: 30% !important;
}

.m-gutter {
  width: 98%;
  margin-left: 1%;
  height: 28.5px;
  font-size: 0.7em;
  padding: 0.5em;
  padding-bottom: 1.8em;
  color: #999999;
  outline: red solid thin;
  padding-top: 2em;
}
.m-gutter:hover {

}

.gutter-activity {
  display: inline-block;
  padding: 0.5em;
  border-radius: 2px;
  border: 1px solid #e4e4e4;
}

.gutter-activity.personal { background: rgba(0, 208, 255, 0.26); }
.gutter-activity.relational { background: rgba(255, 0, 129, 0.26); }
.gutter-activity.responsibility { background: rgba(37, 255, 0, 0.26); }

.gutter-activity:not(:first-child) {
  margin-left: 2em;
}

.gutter-activity:after {
 content: "+";
 color: #aaa;
 background: white;
 padding: 0 0.2em;
 margin-left: 1em;
}

.ui-draggable-dragging {
  box-shadow: 8px 8px 6px #e4e4e4;
  -moz-transform: scale(1.3) rotate(2deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1.3) rotate(2deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1.3) rotate(2deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1.3) rotate(2deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(1.3) rotate(2deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}
