.todo {
  border-left: 12px solid #FC5666;
  background: white;
  padding: 2em;
  margin: 1em 0;
}

.task {
  width: 60%;
  border: 1px solid red;
  float: left;
}

.public h2 {
  font-size: 2em;
}

.edit {
  display: none;
}

.primary {
  width: 30%;
  float: right;
  border: 1px solid red;
}
