a.mw-wiki-logo {
    display: none;
}

#mw-panel {
    display: none;
}

div.mw-body {
    margin-left: 0;
}

#p-personal {
    display: none;
}

#mw-head {
    display: none;
}

div.noprint {
    display: none;
}

#siteSub {
    display: none;
}
