body {
  background: #dad7c7;
  font-size: 100%;
}

.clearfix {
 clear: both;
}

.test-event {
  font-size: 0.6em;
  padding: 0.4em;
  border: 2px dashed #aaa;
  height: 40px;
  width: 90%;
  background: white;
}
