#header {
    display: none;
}

div.feed-item-container.browse-list-item-container.yt-section-hover-container.compact-shelf.shelf-item.branded-page-box.clearfix {
    display: none;
}

#watch7-sidebar-ads {
    display: none;
}
