
.page {
  background-image: linear-gradient(0deg, #c7c648, #FFFFFF);
  background-repeat: no-repeat;
}

.col-2 {}

@media (min-width: 700px) {
  .post {
    width: 60%;
    float: right;
  }
  .content {
    padding-right: 100px;
  }

  .image {
    width: 35%;
  }

  .image img {
    position: relative;
    left: 20px;
    width: 100%;
    transform: rotate(-5deg);
    box-shadow: 1px 2px 4px rgb(30, 74, 28);
  }

}



.h1, .h2, .h3 {
  font-family: 'Bangers', serif;
  text-align: center;
  margin: 48px 0 18px;
  text-shadow: 1px 2px 3px rgb(30, 74, 28);
  letter-spacing: 1px;
}

.h1 {
  font-size: 120px;
  margin-bottom: 60px;
  color: #d4404a;
}

.h2 {
  color: #83a654;
}

.h1 + .p {
  font-size: 36px;
  line-height: 52px;
  margin-bottom: 40px;
  padding: 0 30px;
  text-align: justify;
}

.h1:first-child {
  margin-top: 0;
}

.h2 {
  font-size: 60px;
  padding-left: 20px;
}

.h3 {
  text-align: right;
  color: rgb(109, 109, 110);
  font-size: 24px;
}

.p, li {
  font-family: 'Architects Daughter', cursive;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}

.p {
  padding: 0 30px;
  text-align: justify;
  color: #725d69;
}

.p ~ .p {
  margin-bottom: 30px;
}


.headline {
  font-family: 'Unna', serif;
  text-transform: uppercase;
  color: #eee;
  letter-spacing: 5px;
  transform: skew(-12deg);
  background: #dfb758;
  padding-left: 18px;
  text-align: center;
}
