.clear-mp {
  margin: 0;
  padding: 0;
}
 /*
   _dw SL means Single Letter (-sl).
   It is a span and action in each item.
   the goal is to build this here,
   then attach it with bb events like - bigger, smaller, spin, hide.
   Technically, it's changing display to inline.
 */

 /*_dw Question
   will I need to adjust letter spacing per mq?
 */

.h1-serif-sl {
  font-family: "Georgia";
  display: inline;
  margin: 0;
  letter-spacing: -3px;
}


.sl-black {
 color: black !important;
}
