/* global margin and padding */


.layout {
  overflow: auto;
  box-sizing: border-box;
}

.layout .header {
  box-sizing: border-box;
  margin:  calc(var(--space-root) * var(--space-0)) 0;
  padding: calc(var(--space-root) * var(--space-0)) 0;
}

.layout .nav {
  box-sizing: border-box;
  margin:  calc(var(--space-root) * var(--space-0)) 0;
  padding: calc(var(--space-root) * var(--space-0)) 0;
}

.layout .section {
  box-sizing: border-box;
  margin:  calc(var(--space-root) * var(--space-0)) 0;
  padding: calc(var(--space-root) * var(--space-0)) 0;
}

.layout .article {
  box-sizing: border-box;
  margin:  calc(var(--space-root) * var(--space-0)) 0;
  padding: calc(var(--space-root) * var(--space-0)) 0;
}

.layout .aside {
  box-sizing: border-box;
  margin:  calc(var(--space-root) * var(--space-0)) 0;
  padding: calc(var(--space-root) * var(--space-0)) 0;
}

.layout .footer {
  box-sizing: border-box;
  margin:  calc(var(--space-root) * var(--space-0)) 0;
  padding: calc(var(--space-root) * var(--space-0)) 0
}


@media only screen and (min-width: 200px) {
  .layout .header {
    margin-bottom:  calc(var(--space-root) * var(--space-1)) 0;
    padding: calc(var(--space-root) * var(--space-1)) 0;
  }

  .layout .nav {
    margin:  calc(var(--space-root) * var(--space-1)) 0;
    padding: calc(var(--space-root) * var(--space-1)) 0;
  }

  .layout .section {
    margin:  calc(var(--space-root) * var(--space-1)) 0;
    padding: calc(var(--space-root) * var(--space-1)) 0;
  }

  .layout .article {
    margin:  calc(var(--space-root) * var(--space-1)) 0;
    padding: calc(var(--space-root) * var(--space-1)) 0;
  }

  .layout .aside {
    margin:  calc(var(--space-root) * var(--space-1)) 0;
    padding: calc(var(--space-root) * var(--space-1)) 0;
  }

  .layout .footer {
    margin:  calc(var(--space-root) * var(--space-1)) 0;
    padding: calc(var(--space-root) * var(--space-1)) 0;
  }
}

@media only screen and (min-width: 400px) {
  .layout .header {
    margin-bottom:  calc(var(--space-root) * var(--space-1)) 0;
    padding: calc(var(--space-root) * var(--space-1)) 0;
  }

  .layout .nav {
    margin:  calc(var(--space-root) * var(--space-1)) 0;
    padding: calc(var(--space-root) * var(--space-1)) 0;
  }

  .layout .section {
    margin:  calc(var(--space-root) * var(--space-1)) 0;
    padding: calc(var(--space-root) * var(--space-1)) 0;
  }

  .layout .article {
    margin:  calc(var(--space-root) * var(--space-1)) 0;
    padding: calc(var(--space-root) * var(--space-1)) 0;
    width:   calc(var(--col-two-thirds) * var(--col-width));
    float: left;
  }

  .layout .aside {
    float: right;
    width:   calc(var(--col-third) * var(--col-width));
    margin:  calc(var(--space-root) * var(--space-1)) 0;
    padding: calc(var(--space-root) * var(--space-1)) 0;
  }

  .layout .footer {
    margin:  calc(var(--space-root) * var(--space-1)) 0;
    padding: calc(var(--space-root) * var(--space-1)) 0;
  }

}

@media only screen and (min-width: 600px) {
  .layout .header {
    margin-bottom:  calc(var(--space-root) * var(--space-2)) 0;
    padding: calc(var(--space-root) * var(--space-2)) 0;
  }

  .layout .nav {
    margin:  calc(var(--space-root) * var(--space-2)) 0;
    padding: calc(var(--space-root) * var(--space-2)) 0;
  }

  .layout .section {
    margin:  calc(var(--space-root) * var(--space-2)) 0;
    padding: calc(var(--space-root) * var(--space-2)) 0;
  }

  .layout .article {
    margin:  calc(var(--space-root) * var(--space-2)) 0;
    padding: calc(var(--space-root) * var(--space-2)) 0;
  }

  .layout .aside {
    margin:  calc(var(--space-root) * var(--space-2)) 0;
    padding: calc(var(--space-root) * var(--space-2)) 0;
  }

  .layout .footer {
    overflow: auto;
    margin:  calc(var(--space-root) * var(--space-2)) 0;
    padding: calc(var(--space-root) * var(--space-2)) 0;
  }

  .footer .col {
    float: left;
    box-sizing: border-box;
    margin:   calc(var(--space-root) * var(--space-3)) 0;
    padding:  calc(var(--space-root) * var(--space-3)) 0;
    width:    calc(var(--col-third) * var(--col-width));
  }
}

@media only screen and (min-width: 800px) {
  .layout .header {
    margin-bottom:  calc(var(--space-root) * var(--space-3)) 0;
    padding: calc(var(--space-root) * var(--space-3)) 0;
  }

  .layout .nav {
    margin:  calc(var(--space-root) * var(--space-3)) 0;
    padding: calc(var(--space-root) * var(--space-3)) 0;
  }

  .layout .section {
    margin:  calc(var(--space-root) * var(--space-3)) 0;
    padding: calc(var(--space-root) * var(--space-3)) 0;
  }

  .layout .article {
    margin:  calc(var(--space-root) * var(--space-3)) 0;
    padding: calc(var(--space-root) * var(--space-3)) 0;
  }

  .layout .aside {
    margin:  calc(var(--space-root) * var(--space-3)) 0;
    padding: calc(var(--space-root) * var(--space-3)) 0;
  }

  .layout .footer {
    margin:  calc(var(--space-root) * var(--space-3)) 0;
    padding: calc(var(--space-root) * var(--space-3)) 0;
  }

}

@media only screen and (min-width: 1000px) {
  .layout .header {
    margin-bottom:  calc(var(--space-root) * var(--space-4)) 0;
    padding: calc(var(--space-root) * var(--space-4)) 0;
  }

  .layout .nav {
    margin:  calc(var(--space-root) * var(--space-4)) 0;
    padding: calc(var(--space-root) * var(--space-4)) 0;
  }

  .layout .section {
    margin:  calc(var(--space-root) * var(--space-4)) 0;
    padding: calc(var(--space-root) * var(--space-4)) 0;
  }

  .layout .article {
    margin:  calc(var(--space-root) * var(--space-4)) 0;
    padding: calc(var(--space-root) * var(--space-4)) 0;
  }

  .layout .aside {
    margin:  calc(var(--space-root) * var(--space-4)) 0;
    padding: calc(var(--space-root) * var(--space-4)) 0;
  }

  .layout .footer {
    margin:  calc(var(--space-root) * var(--space-4)) 0;
    padding: calc(var(--space-root) * var(--space-4)) 0;
  }

}

@media only screen and (min-width: 1200px) {
  .layout .header {
    margin-bottom:  calc(var(--space-root) * var(--space-8)) 0;
    padding: calc(var(--space-root) * var(--space-8)) 0;
  }

  .layout .nav {
    margin:  calc(var(--space-root) * var(--space-8)) 0;
    padding: calc(var(--space-root) * var(--space-8)) 0;
  }

  .layout .section {
    margin:  calc(var(--space-root) * var(--space-8)) 0;
    padding: calc(var(--space-root) * var(--space-8)) 0;
  }

  .layout .article {
    margin:  calc(var(--space-root) * var(--space-8)) 0;
    padding: calc(var(--space-root) * var(--space-8)) 0;
  }

  .layout .aside {
    margin:  calc(var(--space-root) * var(--space-8)) 0;
    padding: calc(var(--space-root) * var(--space-8)) 0;
  }

  .layout .footer {
    margin:  calc(var(--space-root) * var(--space-8)) 0;
    padding: calc(var(--space-root) * var(--space-8)) 0;
  }
}
