body {
  padding: 0;
  padding-top: 130px;
  margin: 0;
  background: #eee;
  font-family: georgia;
  border: 30px solid white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.title {
  position: absolute;
  top: 30px;
  text-transform: uppercase;
  font-weight: 100;
  font-style: italic;
  color: #aaa;
  width: 100%;
  text-align: center;
}

.triangle, .sheet {
  position: relative;
  left: 200px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 200px 346.4px 200px;
  border-color: transparent transparent #0f095c transparent;  
    transition: all 300ms;
}

.sheet {
  left: -200px;
}

.text {
  position: absolute;
  top: 200px;
  left: -95px;
  font-size: 50px;
  color: #39b6e2;
}

.inside {
  transition: all 300ms;
  position: relative;
  width: 0;
  font-style: italic;
  height: 0;
  border-style: solid;
  border-width: 0 100px 173.2px 100px;
  border-color: transparent transparent #f22c46 transparent;
}

.red {
  position: absolute;
  left: -100px;
  top: 0;
  border-color: transparent transparent #e11f7b transparent;
}

.red .text {
  position: absolute;
  top: 90px;
  left: -30px;
  font-size: 30px;
  color: #003700;
}

.green {
  position: absolute;
  top: 173px;
  left: 0px;
  border-color: transparent transparent #c5ddb9 transparent;
}

.green .text {
  position: absolute;
  top: 90px;
  left: -30px;
  font-size: 30px;
  color: #3d2549;
}

.yellow {
  position: absolute;
  top: 173px;
  left: -200px;
  border-color: transparent transparent #bdc317 transparent;
}

.yellow .text {
  position: absolute;
  top: 90px;
  left: -30px;
  font-size: 30px;
  color: #3e39e2;
}

.triangle:hover .red {
  transform: rotate(-2deg) translate(60px) scale(1.6);  
}
.triangle:hover .green {
  transform: translate(30px,30px) rotate(18deg) scale(1.8);  
}
.triangle:hover .yellow {
  transform: translate(-80px) rotate(-5deg) scale(1.7);  
}

.triangle:hover {
  transform: rotate(-12deg) translate(0px, -20px);  
}

.triangle:hover + .title{
  opacity: 0;
}

.inside {
 transition: all 300ms;
 opacity: 0; 
}

.triangle:hover .inside {
   opacity: 1;
}

.triangle:hover .sheet {
  opacity: 0;
}

.show-sheet:checked   +  .triangle .sheet { 
  opacity: 0;
}

.show-sheet:checked   +  .triangle .inside { 
  opacity: 1;
}
