/*
  keep media queries near their component.
*/

/*
  mobile first...
*/

.box {
  display: none;
  border: 3px solid red;
}

.box .hello {
  background: green;
}
.box .world {
  background: yellow;
  opacity: 0;
}


@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1140px) {

}
