
@media only screen and (min-width: 768px) {
  .col {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 50%;
    float: left;
  }

  .r-col {
    /*background: red;*/
  }

  .l-col {
    background: black;
    color: white;
    padding: 20px;
  }

  .TODO {
    color: seagreen;
    font-family: georgia;
    font-style: italic;
    font-weight: 100;
  }
}

@media only screen and (min-width: 1140px) { }
