.header {
    background-image: linear-gradient(-90deg, #EEFCA6, #A6FCEE);
    padding: 2px 0;
}

.header a {
    color: #4179b1;
}

.header input {
    background: white;
}

.header-search-scope {
    border: none;
}

div.github-jobs-promotion {
    display: none;
}

div.js-pinned-repos-reorder-container {
    display: none;
}
